<!doctype html>
<html lang="en" xmlns:th="https://www.thyemleaf.com">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Book Store</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
  	
  	<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-white">Local Book Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/book_List">Book List</a>
        </li>
       
        <li class="nav-item">
        	<a class="nav-link text-white" href="/register">New Book</a>
        </li>
         <li class="nav-item">
        	<a class="nav-link text-white" href="my_list">My Books</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="container text-center">
	<h2>Welcome To New Book Store</h2>
	<h6>Discover The New Information</h6>
</div>
<div class="container" >
<br>
<div class="row">
  <div class="col-6"><img src="http://cliparts.co/cliparts/p6T/yx6/p6Tyx6kin.jpg" alt="NoPic" style="height: 60%"></div>
  <div class="col-6" style="font-family: Arial"><br><br><p >Studying is important because it is essential for a person to develop a 
  complete education and provides students with the opportunity to develop study habits, 
  time management skills and self-discipline. Studying also aids in the student's ability 
  to learn providing the student with knowledge that they can use throughout their life regardless of the 
  career path that they choose.Homework is a form of studying that helps students learn. 
  There are typically three types of homework that require studying by students.<p> 
  The first is practice homework that allows the student to review what was taught in class. 
  This helps to increase the student's ability to comprehend the material. The second is preparation homework, 
  which helps a student prepare for an in-class assignment or activity. This type of 
  homework is generally research-based or in the form of a brainstorming exercise. The third is 
  extension homework, which is typically a paper or a project and is a long-term assignment.</p>
  These require the most independent work outside of the classroom.Studying also takes place in the studying 
  for tests or final exams. Students must study in order to learn the material and pass the exam. 
  Studies have shown that the two best forms of studying are practice testing and studying evenly 
  over the course of a semester or nine</p></div>
</div>
</div>

<span class="border-bottom border border-primary-subtle"></span>
  </body>
</html>
